<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li><a href="/dashboard/<%= currentUser.username %>"><i class="glyphicon glyphicon-home"></i> dashboard</a></li>
        <li><a href="/profile/<%= currentUser.username %>"><i class="glyphicon glyphicon-calendar"></i>Profile</a></li>
        <li><a href="/Payout/<%= currentUser.username %>"><i class="glyphicon glyphicon-stats"></i>Payout</a></li>
        <li><a href="/Paytrack/<%= currentUser.username %>/<%= currentUser._id %>"><i class="glyphicon glyphicon-list"></i>Paytrack</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-record"></i>Support</a></li>
         <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i>Logout</a></li>
    </ul>
 </div>